{% load staticfiles %}
{%block js%}
<script type="text/javascript" src="{% static 'js/dashboard/jquery.min.js' %}"  ></script>
<script type="text/javascript" src="{% static 'js/dashboard/bootstrap.min.js' %}"  ></script>
<script type="text/javascript" src="{% static 'js/dashboard/adminlte.min.js' %}"  ></script>
<script type="text/javascript" src="{% static 'js/iao-alert.jquery.js' %}"  ></script>
<script type="text/javascript" src="{% static 'js/main_dashboard/main_dashboard.js' %}"  ></script>

{%endblock%}