{% load staticfiles %}
{%block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/font-awesome/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/ionicons.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/AdminLTE.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/skin-blue.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/italic.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/iao-alert.css' %}" >

{%endblock%}